<script src="{{"kidical-mass/js/nav-bar-shrink-on-scroll.js"|absURL}}"></script>
{{$kmParams:=.Site.Params.kidicalmass}}

<div id="header">
  <div id="nav_bar">

    <a id="logo" href="{{"kidical-mass"|absURL}}">
      {{ $image:= resources.Get "kidical-mass/img/header_transparent_square.png"}}
      {{ $image:= $image.Resize "300x q100"}}
      <img src="{{ $image.RelPermalink }}">
    </a>
    <div id="tray">
      <div id="socials">
      
      {{if isset $kmParams "facebook"}}
        <a href="{{ $kmParams.facebook }}"><i class="fa  fa-facebook-f"></i></a>
      {{end}}
      {{if isset $kmParams "instagram"}}
        <a href="{{ $kmParams.instagram }}"><i class="fa  fa-instagram"></i></a>
      {{end}}
      {{if isset $kmParams "twitter"}}
        <a href="{{ $kmParams.twitter }}"><i class="fa  fa-twitter"></i></a>
      {{end}}
      {{if isset $kmParams "email"}}
        <a href="mailto:{{ $kmParams.email }}"><i class="fa  fa-envelope"></i></a>
      {{end}}
      <a href="{{"kidical-mass/"|absURL}}"><i class="fa fa-home"></i></a>
      <a href="javascript:void(0);" id="mobileMenuButton" onclick="expandMobileMenu()"><i class="fa fa-bars"></i></a>
      </div>
      <div id="menu">

        <ul>
          {{range .Site.Params.kidicalmass.menu}}
          <li><a href="{{.url|absURL}}">{{.name}}</a></li>
          {{end}}
        </ul>

      </div>
    </div>
  </div>
</div>
