<script src="{{"kidical-mass/js/nav-bar-shrink-on-scroll.js"|absURL}}"></script>
{{$kmParams:=.Site.Params.kidicalmass}}

<div id="header">
  <div id="nav_bar">

    <a id="logo" href="{{"kidical-mass"|absURL}}">
      <img alt="Kidical Mass Halifax Logo linking to the main page of the website" src="{{"kidical-mass/img/header_transparent_square.svg"|absURL}}">
    </a>
    <div id="tray">
      <div id="socials">
      
      {{if isset $kmParams "facebook"}}
        <a href="{{ $kmParams.facebook }}" aria-label="Visit our Facebook Page"><i aria-hidden="true" class="fa  fa-facebook-f" title="Visit our Facebook Page"></i></a>
      {{end}}
      {{if isset $kmParams "instagram"}}
        <a href="{{ $kmParams.instagram }}" aria-label="Visit our Instagram Page"><i aria-hidden="true" class="fa  fa-instagram" title="Visit our Instagram Page"></i></a>
      {{end}}
      {{if isset $kmParams "twitter"}}
        <a href="{{ $kmParams.twitter }}" aria-label="#KidicalMassHfx on Twitter "><i aria-hidden="true" class="fa  fa-twitter" title="#KidicalMassHfx on Twitter "></i></a>
      {{end}}
      {{if isset $kmParams "bluesky"}}
        <a href="{{ $kmParams.bluesky }}" aria-label="#KidicalMassHfx on Twitter "><i  aria-hidden="true" title="KidicalMassHfx on blue sky"><svg width="32" height="32" viewBox="200 200 624 624" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M351.121 315.106C416.241 363.994 486.281 463.123 512 516.315C537.719 463.123 607.759 363.994 672.879 315.106C719.866 279.83 796 252.536 796 339.388C796 356.734 786.055 485.101 780.222 505.943C759.947 578.396 686.067 596.876 620.347 585.691C735.222 605.242 764.444 670.002 701.333 734.762C581.473 857.754 529.061 703.903 515.631 664.481C513.169 657.254 512.017 653.873 512 656.748C511.983 653.873 510.831 657.254 508.369 664.481C494.939 703.903 442.527 857.754 322.667 734.762C259.556 670.002 288.778 605.242 403.653 585.691C337.933 596.876 264.053 578.396 243.778 505.943C237.945 485.101 228 356.734 228 339.388C228 252.536 304.134 279.83 351.121 315.106Z" fill="#205493"/></svg></i></a>
      {{end}}
      {{if isset $kmParams "slack"}}
        <a href="{{ $kmParams.slack }}" aria-label="Kidical Mass Halifax Slack invite"><i aria-hidden="true" class="fa-brands fa-slack" title="Kidical Mass Halifax Slack invite"></i></a>
      {{end}}
      {{if isset $kmParams "email"}}
        <a href="mailto:{{ $kmParams.email }}" aria-label="Email us"><i aria-hidden="true" class="fa  fa-envelope" title="Email us"></i></a>
      {{end}}
      <a href="{{"kidical-mass/"|absURL}}" aria-label="Go to the main page of this website"><i aria-hidden="true" class="fa fa-home" title="Go to the main page of this website"></i></a>
      <a href="javascript:void(0);" id="mobileMenuButton" onclick="expandMobileMenu()" aria-label="Expand/Collapse menu"><i aria-hidden="true" class="fa fa-bars" title="Expand/Collapse menu"></i></a>
      </div>
      <div id="menu">

        <ul>
          {{range .Site.Params.kidicalmass.menu}}
          <li><a href="{{.url|absURL}}">{{.name}}</a></li>
          {{end}}
        </ul>

      </div>
    </div>
  </div>
</div>
