<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charSet="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Kidical Mass Halifax</title>
    <link rel="stylesheet" href="/kidical-mass/css/style.css">
    <script src="/kidical-mass/js/set-ride-display.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body onload="setRideDisplayFromDate()">
      {{ partial "kidical-mass/header.html" . }}
    <main>
      {{.Content}}
    </main>
    {{ partial "kidical-mass/footer.html" . }}
  </body>
</html>
