{{ $ridePages := slice }}

{{ range (where .Site.RegularPages "Section" "kidical-mass") }}
  {{ if in .File.Path "rides" }}
    {{ $ridePages = $ridePages | append . }}
  {{ end }}
{{ end }}

<div class="{{ .Get "class" }}">
<p id="no-{{ .Get "class" }}-message">Currently there are no upcoming rides scheduled. Check again soon for new upcoming rides.</p>
{{ range ( sort $ridePages "Params.ride_date" ) }}

  <a href="{{ .Permalink }}">
    {{- if (not (isset .Params "ride_date") ) -}}
    {{ errorf "ride page %q doesn't have a 'ride_date'" .File.Path}}
    {{- end -}}
    {{$rideDate:=.Params.ride_date | time }}
    <div class="ride" ride_date="{{ .Params.ride_date }}">

    <h3>{{ $rideDate.Format "January 2" }}</h3>
    {{ .Params.description }}
  </div></a>
{{ end }}

</div>
