{{ $ridePages := slice }}

{{ range (where .Site.RegularPages "Section" "kidical-mass") }}
  {{ if in .File.Path "rides" }}
    {{ $ridePages = $ridePages | append . }}
  {{ end }}
{{ end }}

{{ $class:= .Get "class" }}

<div class="{{ $class }}">
<p id="no-{{ $class }}-message">Please check back soon for details of our 2023 ride season.</p>
{{ range ( sort $ridePages "Params.ride_date" ) }}

  <a href="{{ .Permalink }}">
    {{- if (not (isset .Params "ride_date") ) -}}
    {{ errorf "ride page %q doesn't have a 'ride_date'" .File.Path}}
    {{- end -}}
    {{$rideDate:=.Params.ride_date | time }}

    <div class="ride" ride_date="{{ .Params.ride_date }}">
    {{ if eq $class "upcoming-rides" }}
    <h3>{{ $rideDate.Format "January 2" }}</h3>
    {{ else }}
    <h3>{{ $rideDate.Format "January 2, 2006" }}</h3>
    {{ end }}
    {{ .Params.description }}
  </div></a>
{{ end }}

</div>
