
<a href="https://calendar.google.com/calendar/ical/{{ .Get "icalid" }}/public/basic.ics">calendar.ics</a><br/>
<br/>

{{ $height:= 600 }}
{{ if .Get "height" }}
  {{ $height = .Get "height" }}
{{ end }}

{{ $width:= 800 }}
{{ if .Get "width" }}
  {{ $width = .Get "width" }}
{{ end }}


<iframe src="https://calendar.google.com/calendar/embed?
height={{ $height }}&
wkst=1&
bgcolor=%23ffffff&
ctz=America%2FHalifax&
mode=AGENDA&
showNav=0&
showPrint=0&
showTabs=0&
showCalendars=0&
showTitle=1&
src={{ .Get "src" }}&
color=%23ffffff"
style="background-color:#ffffff;color=white;border-radius: 0.25em;padding:10px;box-shadow:1px 1px 5px grey; display:inline"
width="{{ $width }}"
height="{{ $height }}"
frameborder="0"
scrolling="no">
</iframe><img alt="A closeup of a young girl who is waving at the camera. She has brown skin, and long brown hair which is tied back behind her shoulders. She is wearing a ball cap, a bike helmet and a shirt with a unicorn on it." style="display:inline;vertical-align:top;min-width:{{ $width }}px" width="65%" src="../img/more-header.jpg"></img><div style="padding-left:20px;font-size:0.75em;text-align:right;">Photograph by: Alexa MacLean</div>
